@{
    ViewBag.Title = "Home Page";
}

<div class="text-center" style="margin-top: 10%;">
    <h1 style="font-size: 70pt; color: #C71585";><b> WELCOME!  </b></h1>
    <hr />
    <p> Need help organizing your appointments? Want a simple app that will allow you to have all your responsibilities in one place? </p>
    <p style="font-size: 20pt;"> The <b style="color: #C71585; ">ToDo</b> app is the right choice for you! </p>
</div>

